h1 {
  color: navy ;
  text-align: center ;
}

.row{
  background-color: #ffeee6 ;
    height: 200px ;
    width: 75% ;
    border: 2px solid black ;
    padding: 25px ;
    margin: auto ;
  font-size:100px ;
}

#row1{
  text-align: left ;
}
#row2{
  text-align: center ;
}

#row3{
  text-align: right ;
}

--------------------------------------------------------------------------------------------------

a:link{ 
  color: blue;
  text-decoration: none;
}

a:visited{ 
  color: red;
  text-decoration: none;
}

a:hover{ 
  color:red;
  text-decoration: none;
}

a:active{
  color:powder-blue;
  text-decoration: none;
}
