h1 {
  color: navy ;
  text-align: center ;
}

p  {
  margin: 100px 80px 100px 150px ;
}

div{
  background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
